@import 'nativescript-theme-core/scss/light';
@import 'nativescript-theme-core/scss/index';

.text-field{
    color: #000;
    border-color: #ababab;
    border-width: 1;
}
.text-big{
    font-size: 36;
}